header {
  align-items: center;
  width: 100%;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

header .header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* margin:0 auto; */
  width: 85%;
}

.header-logo {
  margin-left: -8rem;
}

.search-wrapper {
  height: 2.2rem;
  display: flex;
  position: relative;
}

.search-wrapper input {
  background-color: white;
  border: none;
  height: 100%;
  line-height: 100%;
  color: var(--color-grey);
  font-weight: 600;
}

.search-wrapper svg {
  position: absolute;
  color: var(--color-green);
  top: 10%;
  right: 5%;
  font-size: 1.6rem;
}
/* .search-wrapper button { */
/*   border: none; */
/*   background-color: white; */
/*   height: 106%; */
/*   cursor: pointer; */
/* } */

.search-wrapper input:focus {
  outline: none;
}

.search-wrapper input::placeholder {
  color: var(--color-grey);
}

.slider {
  position: absolute;
  background-color: white;
  right: 0;
  top: var(--header-height);
  height: 80vh;
  width: 40rem;
  /* margin-top: var(--header-height); */
  z-index: 1000;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.05);
}
