:root {
  --color-blue: #003be5;
  --color-green: #31c28d;
  --color-grey: #94979d;

  --header-height: 8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility class */
.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 8rem);
  margin: var(--header-height) auto 0;
  background-color: #ececec;
}

.left-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.left-section .content {
  width: 35rem;
  height: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  position: relative;
}

.right-section {
  background-color: white;
  max-height: calc(100vh - var(--header-height));
}

/* Message */
.message-container {
  margin: var(--header-height) auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message-container h1 {
  color: var(--color-green);
  font-size: 3rem;
}

.message-container h2 {
  color: var(--color-grey);
  font-size: 2rem;
}

.frete {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--color-blue);
  color: #ffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 6px 10px;
}
